<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pwc.sdc.archive.mapper.AeGameArchivePartMapper">

    <resultMap id="BaseResultMap" type="com.pwc.sdc.archive.domain.AeGameArchivePart">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="gameId" column="GAME_ID" jdbcType="BIGINT"/>
            <result property="label" column="LABEL" jdbcType="VARCHAR"/>
            <result property="key" column="KEY" jdbcType="VARCHAR"/>
            <result property="enable" column="ENABLE" jdbcType="TINYINT"/>
            <result property="special" column="SPECIAL" jdbcType="VARCHAR" />
            <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="DELETED" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,GAME_ID,LABEL,
        `KEY`,ENABLE,SPECIAL,GMT_CREATE,
        GMT_MODIFIED,DELETED
    </sql>
</mapper>
