<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pwc.sdc.archive.mapper.AeGameMapper">

    <resultMap id="BaseResultMap" type="com.pwc.sdc.archive.domain.AeGame">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="name" column="NAME" jdbcType="VARCHAR"/>
            <result property="description" column="DESCRIPTION" jdbcType="VARCHAR"/>
            <result property="url" column="URL" jdbcType="VARCHAR" />
            <result property="jsScript" column="JS_SCRIPT" jdbcType="VARCHAR"/>
            <result property="editorHandler" column="EDITOR_HANDLER" jdbcType="VARCHAR"/>
            <result property="fillHandler" column="FILL_HANDLER" jdbcType="VARCHAR" />
            <result property="header" column="HEADER" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="DELETED" jdbcType="INTEGER"/>
    </resultMap>


    <resultMap id="BaseResultDtoMap" type="com.pwc.sdc.archive.domain.dto.GameDto">
        <id property="id" column="ID" jdbcType="BIGINT"/>
        <result property="name" column="NAME" jdbcType="VARCHAR"/>
        <result property="description" column="DESCRIPTION" jdbcType="VARCHAR"/>
        <result property="url" column="URL" jdbcType="VARCHAR" />
        <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
        <result property="isUserStar" column="is_user_star"  jdbcType="INTEGER"/>
        <collection property="platforms" javaType="ArrayList" ofType="com.pwc.sdc.archive.domain.dto.PlatformDto" >
            <result property="platformId" column="platform_id" jdbcType="BIGINT" />
            <result property="platformName" column="platform_name" jdbcType="VARCHAR" />
            <result property="status" column="status" jdbcType="TINYINT" />
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        ID,`NAME`,`DESCRIPTION`,URL
        JS_SCRIPT,EDITOR_HANDLER,FILL_HANDLER,ARCHIVE_STRUCTURE,HEADER,
        GMT_CREATE,GMT_MODIFIED
    </sql>

    <sql id="Base_DTO_Cholumn_List">
        ID,`NAME`,`DESCRIPTION`,URL
        JS_SCRIPT,EDITOR_HANDLER,FILL_HANDLER,ARCHIVE_STRUCTURE,HEADER,
        GMT_CREATE,GMT_MODIFIED
    </sql>
    <update id="gameStar">
        INSERT INTO
    </update>
    <select id="listByUserId" resultMap="BaseResultDtoMap">
        SELECT g.ID, g.`NAME`, g.`DESCRIPTION`, g.URL, g.GMT_CREATE
             , p.ID AS 'platform_id', p.PLATFORM AS 'platform_name'
             , CASE WHEN ug.user_id IS NULL THEN 0 ELSE 1 END AS is_user_star
             , CASE WHEN p.ID = #{platformId} THEN 1 ELSE 0 END AS status
        FROM AE_GAME g
        LEFT JOIN AE_GAME_PLATFORM gp ON gp.GAME_ID = g.ID AND gp.DELETED = ${STATE_NO}
        LEFT JOIN AE_PLATFORM p ON gp.PLATFORM_ID = p.ID AND p.DELETED = ${STATE_NO}
        LEFT JOIN AE_USER_GAME ug ON ug.GAME_ID = g.ID AND ug.DELETED = ${STATE_NO} AND ug.USER_ID = #{loginUserId}
        WHERE g.DELETED = ${STATE_NO}
        <if test="game.gameId != null">
            AND g.ID = #{game.gameId}
        </if>
        <if test="game.gameName != null and game.gameName != ''">
            AND g.NAME LIKE CONCAT(#{game.gameName}, '%')
        </if>
        <if test="game.platformId != null">
            AND p.ID = #{game.platformId}
        </if>
        <if test="game.userId != null">
            AND ug.USER_ID = #{game.userId}
        </if>
    </select>
</mapper>
