<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pwc.sdc.archive.mapper.AePermissionMapper">

    <resultMap id="BaseResultMap" type="com.pwc.sdc.archive.domain.AePermission">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="permission" column="PERMISSION" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="DELETED" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,PERMISSION,GMT_CREATE,
        GMT_MODIFIED,DELETED
    </sql>
</mapper>
