<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pwc.sdc.archive.mapper.AeUserArchiveMapper">

    <resultMap id="BaseResultMap" type="com.pwc.sdc.archive.domain.AeUserArchive">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="userId" column="USER_ID" jdbcType="BIGINT"/>
            <result property="gameId" column="GAME_ID" jdbcType="BIGINT"/>
            <result property="archiveData" column="ARCHIVE_DATA" jdbcType="VARCHAR"/>
            <result property="version" column="VERSION" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="DELETED" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,USER_ID,GAME_ID,PLATFORM_ID,
        ARCHIVE_DATA,VERSION,GMT_CREATE,
        GMT_MODIFIED
    </sql>
    <select id="getLatestUserArchive" resultType="com.pwc.sdc.archive.domain.AeUserArchive">
        SELECT <include refid="Base_Column_List" /> FROM AE_USER_ARCHIVE
        WHERE DELETED = ${STATE_NO} AND GAME_ID = #{user.gameId} AND USER_ID = #{user.userId} AND PLATFORM_ID = #{user.platformId}
        ORDER BY VERSION DESC
        LIMIT 1
    </select>
</mapper>
