<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pwc.sdc.archive.mapper.AeUserGamePlatformMapper">

    <resultMap id="BaseResultMap" type="com.pwc.sdc.archive.domain.AeUserGamePlatform">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="userId" column="USER_ID" jdbcType="BIGINT"/>
            <result property="gameId" column="GAME_ID" jdbcType="BIGINT"/>
            <result property="platformId" column="PLATFORM_ID" jdbcType="BIGINT"/>
            <result property="gameUserId" column="GAME_USER_ID" jdbcType="VARCHAR"/>
            <result property="gameLoginId" column="GAME_LOGIN_ID" jdbcType="BIGINT"/>
            <result property="openId" column="OPEN_ID" jdbcType="VARCHAR"/>
            <result property="session" column="SESSION" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="DELETED" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,USER_ID,GAME_ID,
        PLATFORM_ID,GAME_USER_ID,GAME_USER_NAME,GAME_LOGIN_ID,OPEN_ID,
        `SESSION`,EXTRA,GMT_CREATE,GMT_MODIFIED,
        DELETED
    </sql>
    <update id="updateByInfo">
        UPDATE AE_USER_GAME_PLATFORM
        <set>
            <if test="user.gameLoginId != null">
                GAME_LOGIN_ID = #{user.gameLoginId},
            </if>
            <if test="user.gameUserId != null">
                GAME_USER_ID = #{user.gameUserId},
            </if>
            <if test="user.gameUserName != null and user.gameUserName != ''">
                GAME_USER_NAME = #{user.gameUserName},
            </if>
            <if test="user.openId != null and user.openId != ''">
                OPEN_ID = #{user.openId},
            </if>
            <if test="user.session != null and user.session != ''">
                `SESSION` = #{user.session},
            </if>
            <if test="user.extra != null and user.extra != ''">
                EXTRA = #{user.extra}
            </if>
            <if test="user.gmtCreate != null">
                GMT_CREATE = #{user.gmtCreate}
            </if>
        </set>
        <where>
            DELETED = ${STATE_NO}
            AND USER_ID = #{user.userId}
            AND GAME_ID = #{user.gameId}
            AND PLATFORM_ID = #{user.platformId}
        </where>


    </update>

</mapper>
