<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pwc.sdc.archive.mapper.AeUserMapper">

    <resultMap id="BaseResultMap" type="com.pwc.sdc.archive.domain.AeUser">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="account" column="ACCOUNT" jdbcType="VARCHAR"/>
            <result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
            <result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="DELETED" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,ACCOUNT,PASSWORD,
        USER_NAME,GMT_CREATE,GMT_MODIFIED
    </sql>

    <select id="getUserByAccount" resultType="com.pwc.sdc.archive.domain.AeUser">
        SELECT <include refid="Base_Column_List" />
        FROM AE_USER
        WHERE ACCOUNT = #{account} AND DELETED = ${STATE_NO}
    </select>
</mapper>
