<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pwc.sdc.archive.mapper.AeUserStatementMapper">

    <resultMap id="BaseResultMap" type="com.pwc.sdc.archive.domain.AeUserStatement">
            <id property="id" column="ID" jdbcType="BIGINT"/>
            <result property="userId" column="USER_ID" jdbcType="BIGINT" />
            <result property="statementType" column="STATEMENT_TYPE" jdbcType="TINYINT"/>
            <result property="gameId" column="GAME_ID" jdbcType="VARCHAR"/>
            <result property="cost" column="COST" jdbcType="INTEGER"/>
            <result property="detail" column="DETAIL" jdbcType="VARCHAR"/>
            <result property="gmtCreate" column="GMT_CREATE" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="GMT_MODIFIED" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="DELETED" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,USER_ID,STATEMENT_TYPE,GAME_ID,COST
        DETAIL,GMT_CREATE,GMT_MODIFIED,
        DELETED
    </sql>
</mapper>
